:host {
  background-color: #fff;
  height: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
}

.format-actions {
  // width: 400px;
  // margin-right: 200px;
}

button {
  border: 1px solid grey;
}

button + button {
  margin-left: 5px;
}

select {
  width: 100px;
}

.selected {
  min-width: 100px;
}

.synonym, .synonym div {
  display: inline-block;
  margin: 0 5px;
}

.synonym button {
  margin-left: 5px;
}
