<div class="format-actions">
  <button
    class="format-action"
    [ngStyle]="{'background-color':isBoldSelected ? 'pink' : 'white' }"
    type="button"
    (click)="toggleBold()">
    <b>B</b>
  </button>
  <button
    class="format-action"
    [ngStyle]="{'background-color':isItalicSelected ? 'pink' : 'white' }"
    type="button"
    (click)="toggleItalic()">
    <i>I</i>
  </button>
  <button class="format-action"
    [ngStyle]="{'background-color':isUnderlineSelected ? 'pink' : 'white' }"
    type="button"
    (click)="toggleUnderline()">
    <u>U</u>
  </button>
  <div class="synonym">
    <div>Selected word:</div>
    <div class="selected">{{selectedWord}}</div>
    <div>Synonym:</div>
    <select 
      [(ngModel)]="selectedSynonym"
      (change) = onChange($event)>
      <option *ngFor="let item of synonymus">
        {{item.word}}
      </option>
    </select>
    <button
      (click)="applySynonym()">
      Apply synonym
    </button>
  </div>
</div>